.container {
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width: 100%;
        height: 100vh;
    
        text-transform: uppercase;
        color: white;
        
        
        background: #000000;
        border: 0.9em solid #ed028c;
        box-sizing: border-box;
    
        font-family: 'Lush';
        src: url('./../../fonts/Lush.ttf') format('truetype');
        font-weight: bold;
    
}




.container .trackNameBox
{
    margin-top: 2rem;
    width: 80vw;
    text-align: center;
    font-size: 2.5em;
    background: #570033;
}
.trackNameBox .trackNameText
{
    padding: 0.3em;
}
.container .treatment
{
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5em;
    width: 80vw;
    font-size: 2.5em;
    background: #5d0037;

    border: 0.2rem solid white;
}
.container .text
{
    text-align: center;
}
.treatment .playback
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 0.5em;
}
.playback .mat-icon
{
    transform: scale(2.5);
    margin-right: 1.5em;

    /* margin-bottom: 1em; */
    /* height: 2em; */
    /* object-fit: fill; */
}
.playback .mat-icon:hover {
    cursor: pointer;
}
.playback .bar
{
    border: 0.2rem solid white;
    height: 0.5em;
    width: 60vw;
    /* margin-top: 1em; */
    /* margin-left: 2.5em; */
}