.error
{
    width: 100%;
    text-align: center;
    margin-top: 45vh;
    font-size: 2em;
}

#mainBox .item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 8vh;
    text-align: center;
    font-size: 2.5em;
}


/* .item .text 
{
    margin-top: 0.3em;
    height: 1em;
} */


.item .link
{
    text-decoration: none;
}

#mainBox > :nth-child(odd)
{
    background: #29143b;
}
#mainBox > :nth-child(even)
{
    background: #600039;
}

