<!-- <router-outlet></router-outlet> -->

<div *ngIf="serverData != null; else elseBlock">
  <div id="mainBox">
    <div class="container">
    <div *ngFor="let datum of serverData | async">
      <a [routerLink]="['/player',datum.id]">
        <div class="item">
          <div class="text">{{ datum.name }}</div>
        </div>
      </a>
    </div>
    </div>
  </div>
  <!-- <app-track></app-track> -->
</div>
<ng-template #elseBlock>
  <div class="error">{{ errorResponse.message }}</div>
</ng-template>