<!-- <router-outlet></router-outlet> -->

<div *ngIf="serverData != null; else elseBlock">
  <div id="mainBox" [ngStyle]="styleObject()">
   
    <div *ngFor="let datum of serverData | async" [ngStyle]="itemStyleObject()">
      <a [routerLink]="['/player',datum.ID]">
        <div class="item" >
          <div class="text">{{ datum.Name.slice(0, datum.Name.length-4) }}</div>
        </div>
      </a>
    </div>
  </div>
  <!-- <app-track></app-track> -->
</div>
<ng-template #elseBlock>
  <div class="error">{{ errorResponse.message }}</div>
</ng-template>