.error {
  width: 100%;
  text-align: center;
  margin-top: 45vh;
  font-size: 2em;
}

#mainBox {
  padding-top: 2rem;
  padding-bottom: 2em;
  border: 0.9em solid #ed028c;
}

#mainBox .item {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  text-align: center;
  font-size: 2.5em;

  padding-top:0.3em;
  padding-bottom: 0.3em;
}


#mainBox > :nth-child(odd)
{
    background: #29143b;
}
#mainBox > :nth-child(even)
{
    background: #600039;
} 

.item .link {
  text-decoration: none;
}
